body {
  font-family: "Inter", sans-serif;
}

.header_section .brand_name {
  text-decoration: none;
}

.header_section .nav_link {
  text-decoration: none;
}

.header_section .nav_link_auth {
  text-decoration: none;
}

.banner_section .hero_text{
  font-size: 48px;
  font-weight: 700;
}


.features_section .feature_heading{
  font-size: 24px;
  font-weight: 700;
}